.background {
    background-color: #2C3531;
    
}
.white {
    color: #D1E8E2;
    font-family: 'IBM Plex Sans', sans-serif;
}
.red {
    color: #ff0000;
    font-family: 'IBM Plex Sans', sans-serif;
}

a:hover {
    color: #FFCB9A;
    font-family: 'IBM Plex Sans', sans-serif;
}
a {
    color: #D1E8E2;
    font-family: 'IBM Plex Sans', sans-serif;
}
.container-align-center {
    text-align: center;
}
.container {
    text-align: left;
    width: 600px;
}
#counter {
    border: #2e2e2e solid 2px;
    width: 60px;
}
#bitcoin {
    color: #D9B08C
}
#hrline {
    border: #D1E8E2 solid 2px;
}
.keys {
    font-family: 'Roboto Mono', monospace;
    color: #D1E8E2;
    background-color: #2e2e2e;
    font-size: 12;
    margin: 2px;
    position: relative;
}
.keyfolders {
    font-family: 'Roboto Mono', monospace;
    color: #D1E8E2;
    font-size: 1;
}
.blackcode {
    border: #D1E8E2 solid 2px;
    width: 200px;
}
.codecolor {
    color: #e87d3e;
}
.letters {
    color: #6c99bb;
}
.content {
    padding: 16px;
    width: 450px;
    z-index: 0;
}
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #2C3531;
    z-index: 10;
}

.sticky + .content {
    padding-top: 50px;
}
.vertical-align {
    vertical-align: middle;
    margin-bottom: 0.75em;
    position: relative;
    float: left;
    align-content: left;
}
.folderhr {
    border: #2e2e2e inherit .1px;
    padding: .1px;
}
.folder {
    background-color: #2e2e2e;
    padding: 4px;
    border-radius: 10px;

}
.files {
    margin: 2px;
    margin-left: 20px;
    position: relative;
}